#main{
	margin-top: 80px;
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

.container .text-muted{
	margin: 20px 0;
}

#books_container .row{
	margin-bottom: 25px;
}