a:active, a:focus{
    outline: none !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none !important;
}

#main{
	margin-top: 80px;
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

.container .text-muted{
	margin: 20px 0;
}

#books_container .row{
	margin-bottom: 25px;
}

/*Header*/

div.navbar-right{
	margin-top: 8px;
}

a#top_cart_num{
	display: block;
	margin-left: 10px;
	/*margin-top: 8px;*/
	/*color: #777;*/
}

a#top_cart_num :first-child{
	font-size: 125%;
}

a#top_cart_num:hover{
	text-decoration: none;
}

.glyphicon-shopping-cart{
	font-size: 180%;
}

/*Modal windows*/

.alert{
	display: none;
}

/*Cart*/

#cart_container .row {
	margin-bottom: 20px;
}

#cart_container .page-header, #cart_container .page-header h3{
	margin-top: 0;
}

#cart_container .info_block{
	padding-left: 30px;
}

#cart_container input.item_count{
	padding: 5px 5px 5px 8px;
	width: 35px;
	height: 27px;
}

#cart_container label{
	font-weight: normal;
}

#cart_container form{
	margin-bottom: 5px;
}