/* Делаем footer */
html{
	height: 100%;
}

body {
	/*height: 100%;*/
	min-height: 100%;
	position: relative; 
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

/*еще для блока с контентом #main делаем padding-bottom: 60px*/

/*!!! футер*/

a:active, a:focus{
    outline: none !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none !important;
}

#main{
	padding-bottom: 85px;
	margin-top: 80px;
}


.container .text-muted{
	margin: 20px 0;
}

#books_container .row{
	margin-bottom: 25px;
}

.book_name{
	height: 40px;
}

#books_container .col-lg-3{
	margin-bottom: 20px;
}

/*Header*/

div.navbar-right{
	margin-top: 8px;
}

a#top_cart_num{
	display: block;
	margin-left: 10px;
	/*margin-top: 8px;*/
	/*color: #777;*/
}

a#top_cart_num :first-child{
	font-size: 125%;
}

a#top_cart_num:hover{
	text-decoration: none;
}

.glyphicon-shopping-cart{
	font-size: 180%;
}

/*Modal windows*/

.alert{
	display: none;
}

/*Cart*/

#cart_container .row {
	margin-bottom: 20px;
}

#cart_container .page-header, #cart_container .page-header h3{
	margin-top: 0;
}

#cart_container .info_block{
	padding-left: 30px;
}

#cart_container input.item_count{
	padding: 5px 5px 5px 8px;
	width: 35px;
	height: 27px;
}

#cart_container label{
	font-weight: normal;
}

#cart_container form{
	margin-bottom: 5px;
}

/* Single page for one book */

#book_container .col-lg-3{
	margin-right: -40px;
}

#book_container h1{
	margin-top: 0;
	margin-bottom: 30px;
	line-height: 0;
}

#book_container .row{
	margin-bottom: 20px;
}

/* Profile user page */

.list-group .glyphicon{
	margin-right: 10px;
}

.alert-visible{
	display: block;
}

.order_info_block h5{
	font-size: 17px;
}

.order_info_block .label-warning{
	font-size: 13px;
}

/* Order */
#order_container .row {
	margin-bottom: 20px;
}

#order_container .page-header, #order_container .page-header h3{
	margin-top: 0;
}

#order_container h5 {
	font-size: 17px;
}